/* General styles - Style that will be inherited by other elements */
body {
    margin: 0;
}

html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
}

/* this describes "card" class  */
.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

.card h2,
.card p {
    margin: 0;
}

/* this describes the header of the "card" class */
.card header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    padding: 1em;
}

.card header h2 {
    font-size: 2em;
    line-height: 1.5;
}

/* this describes footer of the "card" class */
.card footer {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1em;
}

.card footer p {
    font-size: 1.5em;
    line-height: 2;
}

/* this describe the article items inside the "card" class */
.card article {
    height: 12em;
    background-color: rgba(0, 0, 0, 0.25);
}

.card article img {
    max-height: 100%;
    float: right;
}

.card article p {
    padding: 1em;
    color: rgb(239, 222, 222);
    line-height: 1.3;
}